body{
	overflow-x: hidden;
}

.ls{
	padding: 20px;
	top: 50px;
	margin-top: 150px;
	width: 50%;
	height: 50%
}

.lss{
	padding: 20px;
	width: 50%;
	margin-left: 25%
}


.hide{
	display: none;
}
/*sign in butin*/
.login-with-google-btn {
	transition: background-color .3s, box-shadow .3s;

	padding: 12px 16px 12px 42px;
	border: none;
	border-radius: 3px;
	box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);

	color: white;
	font-size: 14px;
	font-weight: 500;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;

	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
	background-color: #5e5e69;
	background-repeat: no-repeat;
	background-position: 12px 13px;

	&:hover {
		box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
	}

	&:active {
		background-color: #eeeeee;
	}

	&:focus {
		outline: none;
		box-shadow: 
		0 -1px 0 rgba(0, 0, 0, .04),
		0 2px 4px rgba(0, 0, 0, .25),
		0 0 0 3px #c8dafc;
	}

	&:disabled {
		filter: grayscale(100%);
		background-color: #ebebeb;
		box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
		cursor: not-allowed;
	}
}

@media (max-width: 470px){
	.login-with-google-btn{
		font-size: 10px;
		background-position: 12px 11px;
	}
	.ls{
		margin-top: 100px;
	}
	.ncs{
		margin-bottom: 15px;
	}
	#sup{
		width: 80%;
	}
}

#ord #or{
	text-align:center;
	font-size:20px; letter-spacing:1px;
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: 16px 0;
	grid-gap: 22px;
}

#ord #or:after,#ord #or:before {
	content: " ";
	display: block;
	border-bottom: 2px solid #ccc;
	background-color:#f8f8f8;
}
#sup{
	box-shadow: -1px 4px 38px 10px rgba(87,85,85,0.76);
	-webkit-box-shadow: -1px 4px 38px 10px rgba(87,85,85,0.76);
	-moz-box-shadow: -1px 4px 38px 10px rgba(87,85,85,0.76);
}

.ncs{
	font-family: Tw Cen MT;
	font-size: 34px;
	color: #0095f7;
}